In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path
from sqlalchemy import create_engine, text
import geopandas as gpd

# Generic and custom queries to the database

In [2]:
# Connect to database
database_path = Path("data.sqlite")

engine = create_engine(f"sqlite:///{database_path}")

In [3]:
# Get GeoJSON data for state and county boundaries

states = gpd.read_file("https://www2.census.gov/geo/tiger/GENZ2021/shp/cb_2021_us_state_500k.zip")
counties = gpd.read_file("https://www2.census.gov/geo/tiger/GENZ2021/shp/cb_2021_us_county_500k.zip")

In [4]:
# Keep only main states data
states = states[(states["GEOID"] <= "56")]

counties = counties[(counties["STATEFP"] <= "56")]

In [5]:
# df = counties[["STUSPS", "STATEFP", "COUNTYFP", "COUNTYNS", "NAME"]]

# df.rename(columns={"STUSPS": "STATE", "NAME": "COUNTYNAME"}, inplace=True)

# df.head()

# df.to_csv("national_county2024.csv", index=False)

## Generic queries

In [6]:
def get_employment_map(state_code, industry_code, reduction):
    select_statement = ""

    if state_code == "US":
        select_statement = f"""
        WITH 
        industry_employment 
        AS
        (
            SELECT c.state_code, 
                    SUM(bls_annual_employment) AS industry_employment
                FROM county_industry_metric cim
                        INNER JOIN
                        county c ON c.county_fips = cim.county_fips
                WHERE industry_code = {industry_code}
                    AND year = (SELECT MAX(year) FROM county_industry_metric)
            GROUP BY c.state_code
        ),
        state_employment 
        AS
        (
            SELECT c.state_code, 
                    SUM(bls_annual_employment) AS total_employment
                FROM county_industry_metric cim
                        INNER JOIN
                        county c ON c.county_fips = cim.county_fips
                WHERE year = (SELECT MAX(year) FROM county_industry_metric)
            GROUP BY c.state_code
        )
        SELECT se.state_code,
                se.total_employment,
                ie.industry_employment
            FROM state_employment se
                    INNER JOIN
                    industry_employment ie ON ie.state_code = se.state_code
        """
    else:
        select_statement = f"""
        WITH 
        industry_employment
        AS
        (
            SELECT c.county_name,
                    c.state_code,
                    bls_annual_employment AS industry_employment
                FROM county_industry_metric cim
                        INNER JOIN
                        county c ON c.county_fips = cim.county_fips
                WHERE industry_code = {industry_code}
                    AND year = (SELECT MAX(year) FROM county_industry_metric)
                    AND state_code = '{state_code}'
        ),
        county_employment
        AS
        (
            SELECT c.county_name,
                    c.state_code,
                    SUM(bls_annual_employment) AS total_employment
                FROM county_industry_metric cim
                        INNER JOIN
                        county c ON c.county_fips = cim.county_fips
                WHERE year = (SELECT MAX(year) FROM county_industry_metric)
                    AND state_code = '{state_code}'
            GROUP BY c.county_name, c.state_code
        )
        SELECT ce.county_name,
                ce.state_code,
                ce.total_employment,
                ie.industry_employment
            FROM county_employment ce
                    INNER JOIN
                    industry_employment ie ON ie.county_name = ce.county_name
        """

    # Execute the query
    with engine.connect() as connection:
        query = text(select_statement)
        result = connection.execute(query)
        columns = result.keys()
        result_list = [dict(zip(columns, row)) for row in result]

    # Convert result to DataFrame 
    df = pd.DataFrame(result_list)

    # Check if the DataFrame contains the necessary columns after merging
    if "industry_employment" not in df.columns:
        return jsonify({"error": "industry_employment column not found in the DataFrame."}), 500

    # Calculate current share of industry by employment
    df["current_industry_share"] = 100 * df["industry_employment"] / df["total_employment"]

    # Calculate reduced share of industry by employment
    reduction_rate = (100 - reduction) / 100
    df["reduced_industry_share"] = 100 * (reduction_rate * df["industry_employment"]) / (df["total_employment"] - ((reduction / 100) * df["industry_employment"]))

    # Adding geo data
    if state_code == "US":
        # Create a copy of states GeoPandas DataFrame
        geoPandas = states.copy()

        # Merge states geoJSON with a metric
        geoPandas = geoPandas.merge(df, how="inner", left_on="STUSPS", right_on="state_code")

        # Drop unnecessary column
        geoPandas.drop(columns="state_code", inplace=True)
    else:
        # Create a copy of counties GeoPandas DataFrame
        geoPandas = counties.copy()

        # Merge counties geoJSON with a metric
        geoPandas = geoPandas.merge(df, how="inner", left_on=["STUSPS", "NAME"], right_on=["state_code", "county_name"])

        # Drop unnecessary column
        geoPandas.drop(columns=["state_code", "county_name"], inplace=True)

    # Convert results to GeoJSON
    return geoPandas.to_json()

In [7]:
res = get_employment_map(state_code="US", industry_code=1011, reduction=15)

print(res[0:1000])

{"type": "FeatureCollection", "features": [{"id": "0", "type": "Feature", "properties": {"STATEFP": "56", "STATENS": "01779807", "AFFGEOID": "0400000US56", "GEOID": "56", "STUSPS": "WY", "NAME": "Wyoming", "LSAD": "00", "ALAND": 251458712294, "AWATER": 1867503716, "total_employment": 200899, "industry_employment": 18579, "current_industry_share": 9.247930552168004, "reduced_industry_share": 7.971318265941791}, "geometry": {"type": "Polygon", "coordinates": [[[-111.054556, 45.000955], [-111.045066048714, 45.0009308540398], [-110.9901, 45.000791], [-110.790119, 45.000883], [-110.752652, 44.997073], [-110.704476, 44.992174], [-110.577017, 44.992489], [-110.48808, 44.992871], [-110.445743, 44.993682], [-110.407116, 44.999496], [-110.325198, 44.999677], [-110.284774, 44.997359], [-110.22786204885, 44.9968171357216], [-110.221546, 44.996757], [-110.183221, 44.996953], [-110.105776, 45.003533], [-110.026232, 45.003451], [-110.001507198986, 45.0034058075288], [-110.001505910793, 45.00340580517

In [8]:
def get_employment_trend(state_code, industry_code, reduction):
    # Check the area level
    if state_code == "US":
        select_statement = f"""
        SELECT year,
               SUM(bls_annual_employment) AS metric
            FROM 
                county_industry_metric
            WHERE industry_code = {industry_code}
        GROUP BY year
        """
    else:
        select_statement = f"""
        SELECT m.year,
               SUM(bls_annual_employment) AS metric
            FROM 
                county_industry_metric m
            JOIN
                county c 
            ON 
                c.county_fips = m.county_fips
            WHERE c.state_code = '{state_code}'
              AND industry_code = {industry_code}
        GROUP BY m.year
        """

    # Execute the query
    with engine.connect() as connection:
        query = text(select_statement) 
        result = connection.execute(query)
        
        # Convert result to a list of dictionaries
        result_list = [{'year': row[0], 'metric': row[1]} for row in result]

    # Get employment from the latest year
    latest_employment = result_list[-1]["metric"]

    # Calculate forecasted employment based on the latest employment and reduction
    employment2030 = latest_employment * (100 - reduction) / 100

    # Append the forecasted employment to the result
    result_list.append({'year': 2030, 'metric': employment2030})

    return result_list

In [9]:
get_employment_trend(state_code="US", industry_code=1011, reduction=15)

[{'year': 2020, 'metric': 1757533},
 {'year': 2021, 'metric': 1730237},
 {'year': 2022, 'metric': 1785150},
 {'year': 2030, 'metric': 1517377.5}]

In [10]:
def get_unemployment_rate(state_code, industry_code, reduction):
    def check_area_name_presence(df1, df2):
        return 'area_name' in df1.columns and 'area_name' in df2.columns

    if state_code == "US":
        select_industry_employment = f"""
        SELECT s.state_name AS area_name,
               SUM(bls_annual_employment) AS industry_employment
        FROM county_industry_metric cim
        JOIN county c ON c.county_fips = cim.county_fips
        JOIN state s ON s.state_code = c.state_code
        WHERE industry_code = {industry_code}
          AND year = 2022
        GROUP BY s.state_name
        """
        
        select_state_employment = f"""
        SELECT s.state_name AS area_name,
               SUM(bls_labor_force) AS labor_force,
               SUM(bls_employed) AS employment
        FROM county_metric m
        JOIN county c ON c.county_fips = m.county_fips
        JOIN state s ON s.state_code = c.state_code
        WHERE m.year = 2022
        GROUP BY s.state_name
        """
    else:
        select_industry_employment = f"""
        SELECT c.county_name AS area_name,
               bls_annual_employment AS industry_employment
        FROM county_industry_metric cim
        JOIN county c ON c.county_fips = cim.county_fips
        WHERE industry_code = {industry_code}
          AND year = 2022
          AND state_code = '{state_code}'
        """

        select_county_employment = f"""
        SELECT c.county_name AS area_name,
               bls_labor_force AS labor_force,
               bls_employed AS employment
        FROM county_metric m
        JOIN county c ON c.county_fips = m.county_fips
        WHERE m.year = 2022
          AND state_code = '{state_code}'
        """

    with engine.connect() as connection:
        query = text(select_industry_employment)
        result = connection.execute(query)
        result_list_industry_employment = [{'area_name': row[0], 'industry_employment': row[1]} for row in result]
        df_industry_employment = pd.DataFrame(result_list_industry_employment)
        
        query = text(select_state_employment if state_code == "US" else select_county_employment)
        result = connection.execute(query)
        result_list_state_employment = [{'area_name': row[0], 'labor_force': row[1], 'employment': row[2]} for row in result]
        df_state_employment = pd.DataFrame(result_list_state_employment)

    if not check_area_name_presence(df_industry_employment, df_state_employment):
        raise ValueError("area_name not found in both DataFrames")

    df = pd.merge(df_industry_employment, df_state_employment, how="inner", on="area_name")

    df["unemployment_rate"] = 100 * (df["labor_force"] - df["employment"]) / df["labor_force"]
    df["average_unemployment_rate"] = 100 * (df["labor_force"].sum() - df["employment"].sum()) / df["labor_force"].sum()
    df["forecasted_unemployment_rate"] = 100 * (df["labor_force"] - (df["employment"] - (reduction / 100) * df["industry_employment"])) / df["labor_force"]

    #df["unemployment_rate"] = df["unemployment_rate"].apply(lambda x: f"{x:.2f}%")
    #df["average_unemployment_rate"] = f"{df['average_unemployment_rate'].iloc[0]:.2f}%"
    #df["forecasted_unemployment_rate"] = df["forecasted_unemployment_rate"].apply(lambda x: f"{x:.2f}%")

    return df.to_dict('records')

In [11]:
get_unemployment_rate(state_code="US", industry_code=1011, reduction=15)

[{'area_name': 'Alabama',
  'industry_employment': 16955,
  'labor_force': 2276358,
  'employment': 2218625,
  'unemployment_rate': 2.5362003691862176,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 2.6479248870344647},
 {'area_name': 'Alaska',
  'industry_employment': 11545,
  'labor_force': 353692,
  'employment': 338730,
  'unemployment_rate': 4.230234215079787,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.71985512819063},
 {'area_name': 'Arizona',
  'industry_employment': 30950,
  'labor_force': 3599531,
  'employment': 3462672,
  'unemployment_rate': 3.8021342224862074,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.9311093584136376},
 {'area_name': 'Arkansas',
  'industry_employment': 15019,
  'labor_force': 1359546,
  'employment': 1315890,
  'unemployment_rate': 3.2110719313653235,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.376777983238529},
 {'area_name': 'California',
  'industry_employment': 434918,
  'labor_force': 19169345,
  'employment': 18348918,
  'unemployment_rate': 4.2798906274575375,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.620213679705797},
 {'area_name': 'Colorado',
  'industry_employment': 38811,
  'labor_force': 3186941,
  'employment': 3089083,
  'unemployment_rate': 3.0705933997523016,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.253265435412827},
 {'area_name': 'Connecticut',
  'industry_employment': 4368,
  'labor_force': 1912011,
  'employment': 1833670,
  'unemployment_rate': 4.097309063598484,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.1315766488791095},
 {'area_name': 'Delaware',
  'industry_employment': 737,
  'labor_force': 497201,
  'employment': 475994,
  'unemployment_rate': 4.265277020762227,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.287511489317196},
 {'area_name': 'District of Columbia',
  'industry_employment': 11,
  'labor_force': 388387,
  'employment': 369952,
  'unemployment_rate': 4.746554338842444,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.746979172835348},
 {'area_name': 'Florida',
  'industry_employment': 71881,
  'labor_force': 10692185,
  'employment': 10370751,
  'unemployment_rate': 3.006251762385331,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.107093171320926},
 {'area_name': 'Georgia',
  'industry_employment': 27649,
  'labor_force': 5222281,
  'employment': 5058175,
  'unemployment_rate': 3.1424199502094967,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.2218363967775696},
 {'area_name': 'Hawaii',
  'industry_employment': 5421,
  'labor_force': 585630,
  'employment': 566402,
  'unemployment_rate': 3.2833017434216143,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.422152212147606},
 {'area_name': 'Idaho',
  'industry_employment': 26574,
  'labor_force': 944921,
  'employment': 918107,
  'unemployment_rate': 2.8376975429692006,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.2595423321103008},
 {'area_name': 'Illinois',
  'industry_employment': 25602,
  'labor_force': 6421724,
  'employment': 6127488,
  'unemployment_rate': 4.581884864562849,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.641686562673821},
 {'area_name': 'Indiana',
  'industry_employment': 20979,
  'labor_force': 3373894,
  'employment': 3270670,
  'unemployment_rate': 3.0594914955834414,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.1527620606930773},
 {'area_name': 'Iowa',
  'industry_employment': 22294,
  'labor_force': 1706496,
  'employment': 1658263,
  'unemployment_rate': 2.826434987248725,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.0223979429192975},
 {'area_name': 'Kansas',
  'industry_employment': 18432,
  'labor_force': 1502605,
  'employment': 1463011,
  'unemployment_rate': 2.6350238419278518,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 2.8190242944752644},
 {'area_name': 'Kentucky',
  'industry_employment': 15828,
  'labor_force': 2030278,
  'employment': 1948314,
  'unemployment_rate': 4.037082606421387,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.15402225705051},
 {'area_name': 'Louisiana',
  'industry_employment': 36553,
  'labor_force': 2068823,
  'employment': 1993247,
  'unemployment_rate': 3.6530916371289375,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.918119143106972},
 {'area_name': 'Maine',
  'industry_employment': 8567,
  'labor_force': 681171,
  'employment': 661832,
  'unemployment_rate': 2.8390815228481543,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.0277345923417243},
 {'area_name': 'Maryland',
  'industry_employment': 5958,
  'labor_force': 3154857,
  'employment': 3060217,
  'unemployment_rate': 2.9998190092292614,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.0281467591082634},
 {'area_name': 'Massachusetts',
  'industry_employment': 13761,
  'labor_force': 3743590,
  'employment': 3606318,
  'unemployment_rate': 3.666854543366127,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.7219927930141896},
 {'area_name': 'Michigan',
  'industry_employment': 38960,
  'labor_force': 4866071,
  'employment': 4664174,
  'unemployment_rate': 4.149076328725989,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.269173220037274},
 {'area_name': 'Minnesota',
  'industry_employment': 28361,
  'labor_force': 3071454,
  'employment': 2992787,
  'unemployment_rate': 2.5612299581891835,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 2.6997360207901506},
 {'area_name': 'Mississippi',
  'industry_employment': 14297,
  'labor_force': 1248097,
  'employment': 1200236,
  'unemployment_rate': 3.8347179746445987,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.006543561918669},
 {'area_name': 'Missouri',
  'industry_employment': 16501,
  'labor_force': 3036619,
  'employment': 2957356,
  'unemployment_rate': 2.6102385580805496,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 2.6917486191056534},
 {'area_name': 'Montana',
  'industry_employment': 11572,
  'labor_force': 564055,
  'employment': 548850,
  'unemployment_rate': 2.695659111256881,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.0033950589924823},
 {'area_name': 'Nebraska',
  'industry_employment': 15594,
  'labor_force': 1050371,
  'employment': 1027689,
  'unemployment_rate': 2.1594274784814127,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 2.3821202222833624},
 {'area_name': 'Nevada',
  'industry_employment': 16395,
  'labor_force': 1557606,
  'employment': 1476295,
  'unemployment_rate': 5.220254672876196,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 5.378141198737036},
 {'area_name': 'New Hampshire',
  'industry_employment': 2732,
  'labor_force': 760333,
  'employment': 742976,
  'unemployment_rate': 2.2828155558156755,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 2.3367129928597135},
 {'area_name': 'New Jersey',
  'industry_employment': 12568,
  'labor_force': 4736215,
  'employment': 4552564,
  'unemployment_rate': 3.877590016500518,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.917393952766084},
 {'area_name': 'New Mexico',
  'industry_employment': 31646,
  'labor_force': 947412,
  'employment': 908879,
  'unemployment_rate': 4.067185131706164,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.568223750596363},
 {'area_name': 'New York',
  'industry_employment': 32730,
  'labor_force': 9595778,
  'employment': 9178592,
  'unemployment_rate': 4.347599538046837,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.3987626641633435},
 {'area_name': 'North Carolina',
  'industry_employment': 27523,
  'labor_force': 5155942,
  'employment': 4965568,
  'unemployment_rate': 3.692322372904893,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.772394064944877},
 {'area_name': 'North Dakota',
  'industry_employment': 20670,
  'labor_force': 412240,
  'employment': 403891,
  'unemployment_rate': 2.0252765379390647,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 2.7773869590529787},
 {'area_name': 'Ohio',
  'industry_employment': 25661,
  'labor_force': 5733144,
  'employment': 5503271,
  'unemployment_rate': 4.009545198934476,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.0766837532774405},
 {'area_name': 'Oklahoma',
  'industry_employment': 40364,
  'labor_force': 1903513,
  'employment': 1845334,
  'unemployment_rate': 3.056401506057484,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.3744765599184294},
 {'area_name': 'Oregon',
  'industry_employment': 58047,
  'labor_force': 2159952,
  'employment': 2075082,
  'unemployment_rate': 3.929253983421854,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.3323671081579604},
 {'area_name': 'Pennsylvania',
  'industry_employment': 46966,
  'labor_force': 6465258,
  'employment': 6202050,
  'unemployment_rate': 4.071113635372324,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.18007912445258},
 {'area_name': 'Rhode Island',
  'industry_employment': 1249,
  'labor_force': 571756,
  'employment': 553588,
  'unemployment_rate': 3.177579247091417,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.2103467213286745},
 {'area_name': 'South Carolina',
  'industry_employment': 11904,
  'labor_force': 2393338,
  'employment': 2316442,
  'unemployment_rate': 3.2129185263427065,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.287525623209095},
 {'area_name': 'South Dakota',
  'industry_employment': 7334,
  'labor_force': 474519,
  'employment': 464950,
  'unemployment_rate': 2.0165683565884613,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 2.2484031197907726},
 {'area_name': 'Tennessee',
  'industry_employment': 11050,
  'labor_force': 3361987,
  'employment': 3247978,
  'unemployment_rate': 3.3911195968336583,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.4404207987716786},
 {'area_name': 'Texas',
  'industry_employment': 247727,
  'labor_force': 14672335,
  'employment': 14093923,
  'unemployment_rate': 3.9421946131955137,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.195453893330549},
 {'area_name': 'Utah',
  'industry_employment': 16054,
  'labor_force': 1737741,
  'employment': 1696513,
  'unemployment_rate': 2.3725054539197727,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 2.511081916119841},
 {'area_name': 'Vermont',
  'industry_employment': 4105,
  'labor_force': 343551,
  'employment': 335548,
  'unemployment_rate': 2.3294940198107414,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 2.508725051011349},
 {'area_name': 'Virginia',
  'industry_employment': 17575,
  'labor_force': 2607446,
  'employment': 2534014,
  'unemployment_rate': 2.816242407321187,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 2.917347089834267},
 {'area_name': 'Washington',
  'industry_employment': 96294,
  'labor_force': 3969971,
  'employment': 3806849,
  'unemployment_rate': 4.108896513349846,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.472730405335456},
 {'area_name': 'West Virginia',
  'industry_employment': 19542,
  'labor_force': 778709,
  'employment': 748271,
  'unemployment_rate': 3.9087772197316326,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.285207953163511},
 {'area_name': 'Wisconsin',
  'industry_employment': 31250,
  'labor_force': 3094987,
  'employment': 3004781,
  'unemployment_rate': 2.914584132340459,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 3.0660387264954587},
 {'area_name': 'Wyoming',
  'industry_employment': 18579,
  'labor_force': 292663,
  'employment': 282615,
  'unemployment_rate': 3.4333004172034047,
  'average_unemployment_rate': 3.661250474268002,
  'forecasted_unemployment_rate': 4.385538998780159}]

In [12]:
def get_income_map(state_code, industry_code, reduction):
    # Check the area level
    if state_code == "US":
        select_statement = f"""
        WITH 
        industry_income
        AS
        (
            SELECT c.state_code,
                   SUM(bls_total_annual_wages) AS industry_wage,
                   SUM(bls_annual_employment) AS industry_employment
                FROM county_industry_metric cim
                     INNER JOIN
                     county c ON c.county_fips = cim.county_fips
                WHERE industry_code = {industry_code}
                  AND year = (SELECT MAX(year) FROM county_industry_metric)
            GROUP BY c.state_code
        ),
        state_income
        AS
        (
            SELECT c.state_code,
                   SUM(bea_total_income) AS total_income,
                   SUM(population) AS population
                FROM county_metric m
                     INNER JOIN
                     county c ON c.county_fips = m.county_fips
                WHERE m.year = (SELECT MAX(year) FROM county_metric)
            GROUP BY c.state_code
        )
        SELECT si.state_code,
               si.total_income,
               si.population,
               ii.industry_wage,
               ii.industry_employment
            FROM state_income si
                 INNER JOIN
                 industry_income ii ON ii.state_code = si.state_code
        """
    else:
        select_statement = f"""
        WITH 
        industry_income
        AS
        (
            SELECT c.county_name,
                   c.state_code,
                   bls_total_annual_wages AS industry_wage,
                   bls_annual_employment AS industry_employment
                FROM county_industry_metric cim
                     INNER JOIN
                     county c ON c.county_fips = cim.county_fips
                WHERE industry_code = {industry_code}
                  AND year = (SELECT MAX(year) FROM county_metric)
                  AND state_code = '{state_code}'
        ),
        county_income
        AS
        (
            SELECT c.county_name,
                   c.state_code,
                   bea_total_income AS total_income,
                   population
                FROM county_metric m
                     INNER JOIN
                     county c ON c.county_fips = m.county_fips
                WHERE m.year = (SELECT MAX(year) FROM county_metric)
                  AND state_code = '{state_code}'
        )
        SELECT ci.county_name,
               ci.state_code,
               ci.total_income,
               ci.population,
               ii.industry_wage,
               ii.industry_employment
            FROM county_income ci
                 INNER JOIN
                 industry_income ii ON ii.county_name = ci.county_name
        """

    # Execute the query
    with engine.connect() as connection:
        query = text(select_statement)
        result = connection.execute(query)
        
        # Convert result to a list of dictionaries
        result_list = [dict(row._mapping) for row in result]

    # Convert result to DataFrame to simplify calculations
    df = pd.DataFrame(result_list)

    # Calculate current per capita income
    df["per_capita_income"] = df["total_income"] / df["population"]

    # Calculate current per capita industry wage
    df["per_capita_industry_wage"] = df["industry_wage"] / df["industry_employment"]

    # Calculate total reduced income
    df["total_reduced_income"] = df["total_income"] - (reduction / 100) * df["industry_wage"]

    # Calculate per capita reduced income
    df["per_capita_reduced_income"] = df["total_reduced_income"] / df["population"]

    # Calculate change in per capita income
    df["change_in_per_capita_income"] = 100 * (df["per_capita_reduced_income"] - df["per_capita_income"]) / df["per_capita_income"]

    # Adding geo data
    # Depending on the area selection (national or a particular state), creating geoPandas DataFrame
    if state_code == "US":
        # Create a copy of states GeoPandas DataFrame
        geoPandas = states.copy()

        # Merge states geoJSON with a metric
        geoPandas = geoPandas.merge(df, how="inner", left_on="STUSPS", right_on="state_code")

        # Drop unnecessary column
        geoPandas.drop(columns="state_code", inplace=True)
    else:
        # Create a copy of states GeoPandas DataFrame
        geoPandas = counties.copy()

        # Merge states geoJSON with a metric
        geoPandas = geoPandas.merge(df, how="inner", left_on=["STUSPS", "NAME"], right_on=["state_code", "county_name"])

        # Drop unnecessary columns
        geoPandas.drop(columns=["state_code", "county_name"], inplace=True)

    # Convert result to GeoJSON
    return geoPandas.to_json()

In [13]:
res = get_income_map(state_code="US", industry_code=1011, reduction=15)

print(res[0:1000])

{"type": "FeatureCollection", "features": [{"id": "0", "type": "Feature", "properties": {"STATEFP": "56", "STATENS": "01779807", "AFFGEOID": "0400000US56", "GEOID": "56", "STUSPS": "WY", "NAME": "Wyoming", "LSAD": "00", "ALAND": 251458712294, "AWATER": 1867503716, "total_income": 42584713000, "population": 581381, "industry_wage": 1701239802, "industry_employment": 18579, "per_capita_income": 73247.5141086482, "per_capita_industry_wage": 91567.88858388503, "total_reduced_income": 42329527029.7, "per_capita_reduced_income": 72808.58340692248, "change_in_per_capita_income": -0.5992431375550253}, "geometry": {"type": "Polygon", "coordinates": [[[-111.054556, 45.000955], [-111.045066048714, 45.0009308540398], [-110.9901, 45.000791], [-110.790119, 45.000883], [-110.752652, 44.997073], [-110.704476, 44.992174], [-110.577017, 44.992489], [-110.48808, 44.992871], [-110.445743, 44.993682], [-110.407116, 44.999496], [-110.325198, 44.999677], [-110.284774, 44.997359], [-110.22786204885, 44.996817